 
.shortDiv {
    width: 100%;
    max-width: 500px;
}

@media only screen and (max-width: 768px){
    .shortDiv {
        max-width: 100%;
    }
}

@media only screen and (max-width: 576px){
    .shortDiv {
        max-width: 100%;
    }
}

.shadows {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fa-circle-half-stroke {
    cursor: pointer;
    font-size: 20px;
}